* {
  font-family: "SpaceMono Nerd Font";
  font-size: 14px;
  transition: background-color .3s ease-out;
}

window#waybar {
  background: rgba(25, 25, 25, 0.68);
  color: #f5ebbf;
}

.modules-left,
.modules-center,
.modules-right
{
  background: rgba(20, 20, 20, 0.68);
  border-radius: 10px;
  margin: 2px 10px;
  padding: 0px 5px;
}

.modules-center {
  padding: 0 20px;
}

#custom-artix {
  margin-left: 8px;
  padding: 0 10px;
  font-size: 18px;
}

#workspaces button {
  color: #f1c0a9;
}

#workspaces button.active {
  border-bottom: 3px solid #fff;
}

